body {
  font-family: 'Karla', sans-serif;
}

/* title section */
#title {
  background-color: hsl(270, 9%, 17%);
  padding: 3% 10% 5% 10%;
  position: relative;
  z-index: -3;
}

.intro-pic {
  position: absolute;
  z-index: -1;
  right: 10rem;
  top: 10rem;
  width:600px;
  height:710px;
}

.big-heading {
  padding-top: 3rem;
  font-size: 6rem;
  font-family: 'DM Serif Display', serif;
}

.content {
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

.hr-style {
  border-color: #bbbfca;
  border: solid hidden hidden;
  border-width: 3px;
  position: relative;
}

/* navbar style */
#navbar {
  background-color: #fff;
  padding-right: 10%;
  z-index: 0;
  position: relative;
}

.nav-link-style {
  font-weight: bolder;
  color: hsl(270, 9%, 17%);
}

.nav-link-style:hover {
  color: hsl(270, 9%, 17%);
  font-weight: bold;
}

.navbar-brand-style {
  padding-left: 11%;
  font-weight: bold;
  color: hsl(270, 9%, 17%);
}

.navbar-brand-style:hover {
  color: hsl(270, 9%, 17%);
  font-style: :italic;
}

.nav-btn-style:hover {
  color: #fff;
  background-color: hsl(270, 9%, 17%);
}

.black-color {
  color: black;
}

.white-color {
  color: white;
}

/*feature section */
#features {
  padding: 15% 10% 5% 10%;
}

.feature-heading {
  margin-bottom: 5rem;
}

.feature-title {
  font-family: 'DM Serif Display', serif;
  margin-top: 5%;
  margin-bottom: 5%;
}

.feature-icon {
  padding-top: 5%;
}

/* patterns */
.intro-pattern1 {
  position: absolute;
  right: 0;
  top: -1.5rem;
  z-index: 0;
}

.bg-pattern-how-we-work-mobile {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  width: 200px;
}

.pattern-how-we-work {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.pattern-intro-left-mobile, .pattern-intro-right-mobile {
  position: absolute;
  z-index: 0;
  width: 37%;
  visibility: hidden;
}

.pattern-footer {
  position: absolute;
  top: 0;
  left: 0;
}

.pattern-footer-desktop {
  visibility: visible;
}

.pattern-footer-mobile {
  visibility: hidden;
}

/* buttons styles */
.title-plan-button {
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  z-index: 5;
}

.button-col {
  padding: 5%;
}

.plans-button {
  font-weight: 700;
  position: relative;
}

.plans-button:hover {
  color: hsl(270, 9%, 17%);
  background-color: #fff;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  color: #2C2640;
}

.how-we-work {
  background-color: hsl(270, 9%, 17%);
  padding: 3rem;
  margin-top: 10%;
  margin-bottom: 10%;
  position: relative;
}

.find-out-heading {
  font-size: 4rem;
  font-family: 'DM Serif Display', serif;
}

/* social media section */
#cta {
  background-color: #FAFAFA;
  padding: 4rem 10% 1rem 10%;
  position: relative;
}

.social-media-icons {
  text-align: right;
}

.social-media {
  border-bottom: solid 0.5px #867A88;
  padding-bottom: 2rem;
  margin-bottom: 0;
}

/* footer section */
#footer {
  background-color: #FAFAFA;
  padding: 1% 10% 5% 10%;
}
.bg-pattern-mobile-nav {
  visibility: hidden;
  position: absolute;
}
.footer-menu {
  color: hsl(270, 9%, 17%);
  font-weight: bold;
  font-family: 'Karla', sans-serif;
}

.brand-style {
  font-weight: bold;
  font-size: 2rem;
}

.colmn-title {
  font-weight: bold;
  padding-bottom: 1rem;
  color: grey;
}

.col-padding {
  padding-right: 5rem;
}

.btn {
  border-radius: 0;
}
@media (max-width:1000px) {
  .intro-pic {
    position: static;
    width: 100%;
  }

  .navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 2rem;
  }

  .pattern-how-we-work {
    visibility: hidden;
  }

  .bg-pattern-how-we-work-mobile {
    visibility: visible;
  }

  .intro-pattern1 {
    visibility: hidden;
  }

  #features, #footer, #cta, #title {
    text-align: center;
  }

  #navbarSupportedContent {
    background-color: hsl(270, 9%, 17%);
    margin-top:1rem;
    text-align: center;
    z-index: 0;
  }

  .social-media-icons {
    text-align: center;
  }

  .intro-pic-container {
    padding: 0 0;
  }

  .hr-style {
    visibility: hidden;
  }

  .big-heading {
    font-size: 3.7rem;
  }

  .bg-pattern-mobile-nav {
    position: relative;
    visibility: visible;
    z-index: 1;
    width: 100%;
  }

  .pattern-intro-left-mobile {
    visibility: visible;
    top: 0;
    left: 0;
  }

  .pattern-intro-right-mobile {
    visibility: visible;
    bottom: -40%;
    right: 0;
  }

  .hr-style-feature {
    visibility: visible;
    width: 50%;
    text-align: center;
  }

  .pattern-footer-desktop {
    visibility: hidden;
  }

  .pattern-footer-mobile {
    visibility: visible;
    width: 100%;
  }

  .plan-button-mobile {
    border-color: white;
    color: white;
    padding: 0.5rem 7rem 1rem 7rem;
    margin-bottom: 2rem;
    font-size: 2rem;
  }




}
